@page "/"

<PageTitle>Home</PageTitle>

<h1>SurveyAppPWr</h1>

<h3 style="margin-top: 30px">
    Available features:
</h3>

<div style="margin-left: 20px">
    <div>
        - Creating your own surveys and test(compatible with PWrTestownik)
    </div>

    <div>
        - Storing and managing files on our database
    </div>

    <div>
        - Easy survey analytics
    </div>

    <div>
        - Downloading files from your library
    </div>

    <div>
        - Answering public surveys
    </div>

    <div>
        - Account management
    </div>
</div>

<h5 style="margin-top: 30px">
    Log in to test all the features
</h5>
