@page "/create"
<h3>Create your survey/test</h3>

<div class="button-container">
    @if (_pageCount > 0)
    {
        <Button Color="ButtonColor.Primary" Class="me-1" @onclick="BackCallback">Back</Button>
    }
    <Button Color="ButtonColor.Primary" Class="me-3" @onclick="NextCallback">Next</Button>
    
    <Button Color="ButtonColor.Success" @onclick="FinishCallback">Finish @_pageCount</Button>
</div>

@if (_pageCount == 0)
{
    <p>Set your test's name:</p> 
    <p>
        <InputText ValueExpression="() => _testName" ValueChanged="(value) => _testName = value"></InputText>
    </p>
}

@code {
    private int _pageCount = 0;
    private string? _testName = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        _pageCount = 0;
    }

    private void NextCallback()
    {
        _pageCount++;
    }

    private void BackCallback()
    {
        _pageCount--;
    }

    private void FinishCallback()
    {
        
    }

    //zrobic liste questionmodeli i przy kliknieciu next dodaje od listy questioj model z odpowiedziami
    
}